.Card {
  perspective: 150rem;
  -mox-perspective: 150rem;
  position: relative;
  height: 240px;
  min-width: 240px;
}

.Card:not(:last-child) {
  margin-right: 20px;
}

.CardSide {
  height: 240px;
  transition: all 1s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  backface-visibility: hidden;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}

.CardSideFront {
  background-color: #9199b9;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.CardLogo {
  width: 80px;
}

.CardSideBack {
  transform: rotateY(180deg);
  display: flex;
}

.Card:hover .CardSideFront {
  transform: rotateY(-180deg);
}

.Card:hover .CardSideBack {
  transform: rotateY(0);
}

.Progress {
  border: 1px solid #efca00;
  width: 160px;
  height: 18px;
  border-radius: 18px;
  margin-top: 40px;
  background-color: white;
  overflow: hidden;
  position: relative;
}
